SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
DATABASE_URL=postgresql+psycopg://postgres:YOUR_DATABASE_PASSWORD@db.YOUR_PROJECT_REF.supabase.co:5432/postgres
REDIS_URL=redis://localhost:6379/0
OPENAI_API_KEY=
DEEPSEEK_API_KEY=
